#menu{
    list-style-type: none;
    display:inline;
}

#header{
    list-style-type:none;
    color: blue;
    background-color:grey;
    height:15vh;
}

#footercontent li{
    list-style-type: none;
}
body{
    background-color:grey;
    height:auto;
}