#menu{
    list-style-type: none;
    display: inline;
}
#footercontent li{
    list-style-type:none;
    color:steelblue;
    height:15vh;
}

#main-content{
    color: green;
    height:70vh;
    line-height:200%;
}

#header{
    height: 15vh
}